<div class="container mt-5">
  {{ userForm.value | json}}
  <form #userForm="ngForm">
    <div class="form-group">
      <label>UserName</label>
      <input type="text" class="form-control" name="username" ngModel>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="text" class="form-control" name="password" ngModel>
    </div>
    <div class="form-group">
      <select class="custom-select" name="select" ngModel>
       <option selected>I am intrested</option>
       <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
    </div>   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>